
body {
    background: black;
    color: greenyellow;
    font-family: 'Bangers', cursive;
    line-height: 200%;
}

#intro header{
    font-size: 50px;
    font-weight: bold;
    width: 80%;
    margin: 3%;
    text-align: center;
}

#intro p {
    font-size: 20px;
    width: 80%;
    margin: 3%;
    text-align: center;
    color: red;
}

#intro button {
    font-size: 20px;
    width: 20%;
    margin: 3%;
    text-align: center;
    margin-left: 33%;
    font-family: 'Bangers', cursive;
}

#timer {
    color: red;
}

#showQuestion header {
    font-size: 40px;
    font-weight: bold;
    width: 80%;
    margin: 3%;
    text-align: center;
}

#showQuestion h3 {
    font-size: 30px;
    width: 80%;
    margin: 3%;
    text-align: center;
}

#showQuestion form {
    font-size: 23px;
    width: 80%;
    margin: 3%;
    text-align: center;
    color: red;
}

#showQuestion button {
    font-size: 20px;
    width: 20%;
    margin: 3%;
    text-align: center;
    margin-left: 33%;
    font-family: 'Bangers', cursive;
}

#showAnswer header{
    font-size: 50px;
    font-weight: bold;
    width: 80%;
    margin: 3%;
    text-align: center;
}

#showAnswer p {
    font-size: 30px;
    width: 80%;
    margin: 3%;
    text-align: center;
    color: red;
}

#imgDiv {
    margin: 3%;
    margin-left: 27%;
}

#showAnswer button {
    font-size: 20px;
    width: 20%;
    margin: 3%;
    text-align: center;
    margin-left: 33%;
    font-family: 'Bangers', cursive;
}

#showResults header {
    font-size: 40px;
    font-weight: bold;
    width: 80%;
    margin: 3%;
    text-align: center;
}

#scoreDiv {
    color: red;
}